{% extends 'base.html.twig' %}

{% block title %}Modifier la Categorie
{% endblock %}

{% block main %}
	<div class="d-flex mt-5 justify-content-between">
		<a class="btn btn-outline-primary" href="{{ path('admin_categorie_index') }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
			</svg>
			Retourner à la liste</a>
		{{ include('admin/categorie/_delete_form.html.twig') }}
	</div>

	<h1 class="px-4  pb-2 border-bottom">Modifier la Categorie</h1>

	{{ include('admin/categorie/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>{% endblock %}
