{% extends 'base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block body %}
    <h1>Create new Auteur</h1>

    {{ include('front/auteur/_form.html.twig') }}

    <a href="{{ path('front_auteur_index') }}">back to list</a>
{% endblock %}
