{% extends 'bases.html.twig' %}

{% block title %}Command
{% endblock %}

{% block body %}
	<h1>Mes commandes :)</h1>

	<h2>Email :
		{{ app.user.email }}</h2>
	<h3>Nom :
		{{ app.user.nom }}</h3>
	<h3>Prenom :
		{{ app.user.prenom }}</h3>
	<br>

	<section class="my-4">
		{% if app.user.commands.count == 0 %}
			<p>Vous n'avez pas encore acheté de livre(s)</p>
		{% endif %}

	</section>


{% endblock %}
