{% extends 'bases.html.twig' %}

{% block title %}Livre index
{% endblock %}

{% block main %}


	<h1 class="px-4 py-5 pb-2 border-bottom">Tous les livres</h1>

	<div class="d-flex flex-wrap justify-content-around g-4 py-5">
		{% for livre in livres %}
			<div class="mb-4 text-center" style="width: 18rem;">
				{% include 'cardBase.html.twig' %}
			</div>
		{% endfor %}
	</div>
	<div class="d-flex justify-content-center">
		{% do livres.setPageRange(3) %}
		{{ knp_pagination_render(livres, '/pagination.html.twig') }}
	</div>
{% endblock %}
