{% extends 'bases.html.twig' %}

{% block title %}Chercher
{% endblock %}

{% block main %}

	<div class="text-center my-4">
		{{ form(form)}}
		</div>

		{% if livres | length > 0 %}
			<div class="d-flex flex-wrap justify-content-around g-4 py-5">
				{% for livre in livres %}
					<div class="mb-4 text-center" style="width: 18rem;">
						{% include 'cardBase.html.twig' %}
					</div>
				{% endfor %}
			</div>
		{% else %}

			<div class="text-center my-4">
				<h1 class="text-purple-700">Malheureusement, votre recherche n'a abouti à aucun résultat.
					<span class="text-purple-500">Voulez-vous réessayer ?</span>
				</h1>
			</div>
		{% endif %}
	{% endblock %}
