{% extends 'bases.html.twig' %}

{% block title %}New Utilisateur
{% endblock %}

{% block main %}
	<h1 class="px-4 py-5 pb-2 border-bottom">Create new Utilisateur</h1>

	<div class="text-center my-4">
		{{ include('front/utilisateur/_form.html.twig') }}
	</div>

{% endblock %}
