{% extends 'bases.html.twig' %}

{% block title %}New Utilisateur
{% endblock %}

{% block body %}
	<h1>Create new Utilisateur</h1>

	{{ include('front/utilisateur/_form.html.twig') }}

{% endblock %}
