{% extends 'bases.html.twig' %}

{% block title %}Nouvel Utilisateur
{% endblock %}

{% block main %}
	<h1 class="px-4 py-5 pb-2 border-bottom">Créer un nouvel utilisateur</h1>

	<div class="text-center my-4">
		{{ form(form)}}
		</div>
		{{ include('front/utilisateur/_form.html.twig') }}

	{% endblock %}
