{% extends 'bases.html.twig' %}

{% block title %}Revendeur
{% endblock %}

{% block main %}
	<div class="text-center border-bottom mt-3">
		<h1 class="px-4 pb-2">Profile revendeur :
			{{ revendeur.prenom }}
			{{ revendeur.nom }}</h1>
		<h3>{{ revendeur.email }}</h3>
	</div>

	<section class="my-4">

		<div class="d-flex justify-content-around">
			{% for livre in revendeur.livres %}
				<div class="d-flex flex-column text-center">
					<h5 class="card-text">{{ livre.categorie.titre }}</h5>
					{% include 'cardBase.html.twig' %}
				</div>

			{% endfor %}
		</section>
	{% endblock %}
