{% extends 'bases.html.twig' %}

{% block title %}
	{{ categorie.titre }}
{% endblock %}

{% block main %}
	<h1 class="px-4 py-5 pb-2 border-bottom">Categorie :
		{{ categorie.titre }}</h1>

	<div class="d-flex flex-wrap justify-content-around g-4 py-5">
		{% for livre in categorie.livres %}
			<div class="mb-4 text-center" style="width: 18rem;">
				{% include 'cardBase.html.twig' %}

			</div>
		{% endfor %}
	</div>


{% endblock %}
